
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

body {
  font-family: 'Roboto';
  width: 99.5%;
  height: 100%;
  background-color: #D3D3D3;
}

#project-list{
  width: 40em;
  height: 40em;

  position: absolute;
  left: 30%;
  right: 25%;
  top: 30%;
}

h1{
  text-align: center;
  font-style: italic;
  color: black;
}

p#intestazione{
  position: absolute;
  left: 30%;
  right: 20%;
  top: 20%;
  font-size: 16px;
  color: #808080;
}

p#textultimoupdate{
  text-align: center;
  color: white;
  font-style: italic;
  font-size: 18px;
  margin-left: 21%;
  margin-top: 2%;
}

p#validationcss, p#validationhtml{
  float: left;
  margin-right: 2em;
  margin-top: 2em;
}

img#iconuno{
  margin-top: 2em;


  width: 99%;
  height: 20em;
}

img#notes_save{
  width: 10em;
  height: 10em;
  float: left;
  border-color: rgb(255, 255, 255) !important;
  border-style: solid !important;
  border-radius: 50% !important;
}

img#notes_save:hover{
  width: 12em;
  height: 12em;
  float: left;
  border-color: rgb(11, 226, 247) !important;
  border-style: solid !important;
  border-radius: 50% !important;
}

#footer{
  position: absolute;
  top: 84%;
  bottom: 0;
  left: 0;
  right: 0;
}

/*Style for navigator*/
p#myprojectstile{
  font-size: 16px;
  color: black;
  font-weight: bold;
  position: absolute;
  top: 1%;
  left: 35%;
}

div#projectClass{
  position: absolute;
  top: 20%;
  left: 25%;
  background-color: rgb(136, 137, 138);
  padding: 1em;
  border-radius: 25%;
  width: 40%;
  height: 55%;
  border-color: rgb(50, 52, 52);
  border-style: solid;
}

div#projectClass ul{
  margin-top: 4em;
  padding: 1em;
  border-radius: 25%;
}

div#projectClass ul li{
	padding: 1em;
	list-style: none;
}

div#projectClass ul li:hover{
  background-color: rgb(102, 102, 102);
  border-radius: 25%;
  padding: 1em;
  border-color: rgb(50, 52, 52);
  border-style: solid;
}

div#projectClass ul li a{
  color: rgb(241, 241, 241);
  font-weight: bold;
  margin-left: 35%;
  text-decoration:none;
}

div#projectClass ul li a:hover{
  color: rgb(203, 199, 199);
}

/*For toast*/
.hidden {
  display: none;
}

[role="alertdialog"],
[role="dialog"] {
  box-sizing: border-box;
  padding: 15px;
  border: 1px solid #000;
  background-color: #fff;
  min-height: 100vh;
}

@media screen and (min-width: 640px) {
  [role="alertdialog"],
  [role="dialog"] {
    position: absolute;
    top: 2rem;
    left: 50vw;  /* move to the middle of the screen (assumes relative parent is the body/viewport) */
    transform: translateX(-50%);  /* move backwards 50% of this element's width */
    min-width: calc(640px - (15px * 2));  /* == breakpoint - left+right margin */
    min-height: auto;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.12), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
}

.dialog_label {
  text-align: center;
}

.dialog_form {
  margin: 15px;
}

.dialog_form .label_text {
  box-sizing: border-box;
  padding-right: 0.5em;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  width: 30%;
  text-align: right;
}

.dialog_form .label_info {
  box-sizing: border-box;
  padding-right: 0.5em;
  font-size: 12px;
  width: 30%;
  text-align: right;
  display: inline-block;
}

.dialog_form_item {
  margin: 10px 0;
  font-size: 0;
}

.dialog_form_item .wide_input {
  box-sizing: border-box;
  max-width: 70%;
  width: 27em;
}

.dialog_form_item .city_input {
  box-sizing: border-box;
  max-width: 70%;
  width: 17em;
}

.dialog_form_item .state_input {
  box-sizing: border-box;
  max-width: 70%;
  width: 15em;
}

.dialog_form_item .zip_input {
  box-sizing: border-box;
  max-width: 70%;
  width: 9em;
}

.dialog_form_actions {
  text-align: right;
  padding: 0 20px 20px;
}

.dialog_close_button {
  float: right;
  position: absolute;
  top: 10px;
  left: 92%;
  height: 25px;
}

.dialog_close_button img {
  border: 0;
}

.dialog_desc {
  padding: 10px 20px;
}

/* native <dialog> element uses the ::backdrop pseudo-element */

/* dialog::backdrop, */
.dialog-backdrop {
  display: none;
  position: fixed;
  overflow-y: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@media screen and (min-width: 640px) {
  .dialog-backdrop {
    background: rgba(0, 0, 0, 0.3);
  }
}

.dialog-backdrop.active {
  display: block;
}

.no-scroll {
  overflow-y: auto !important;
}

/* styling for alert-dialog example */
.notes {
  display: block;
  font-size: 1rem;
  line-height: 1.3;
  min-width: 400px;
  max-width: 100%;
  width: 33%;
}

.toast {
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  padding: 1rem;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  position: fixed;
  top: 1rem;
  right: 1rem;
  transform: translateY(-150%);
  transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1);
}

.toast.active {
  transform: translateY(0);
}
